.cabecalho{
    text-align: center;
    font-size: 0.6rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.23em;
    background-color: #2D5377;
    color: #fff;
}

.cabecalho__logo {
    padding: 1.5em 0;
    width: 14.5em;
    
}

.cabecalho__menu {
    background-color: #272B3A87;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cabecalho__item-menu {
    display: inline-block;
    
}

.cabecalho__item-menu a {
    display: inline-block;
    padding: 1.86em 1.42em;
}

@media (min-width: 640px) {
    .cabecalho {
        padding: 0 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    .cabecalho__logo {
        padding: 2.5em 0;
        
    }

    .cabecalho__menu {
        background-color: transparent;
        
    }  
}

@media (min-width: 770px) {
    .cabecalho__item-menu--matricular {
        margin-left: 1.42em;
        border-radius: 6px;
        background-color: #e93d50;
        
    }

    .cabecalho__item-menu--matricular a {
        padding: 1.8em 3.5em;
        
    }

    
}

@media (min-width: 1066px) {
    .cabecalho {
        padding-left: calc((100% - 960px) / 2);
        padding-right: calc((100% - 960px) / 2);
        
    }

    
}