@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500&family=Roboto:wght@100;300;500&display=swap');

:root {
    --cor-background: #ecf0f3;
    --cor-branco: #ffffff;
    --cor-box-shadow: 0 0 0 2px;
    --cor-borda-cell: black;
    --cor-borda-botoes: rgba(0, 0, 0, 0.4);
}

*{
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    outline: none;
}

.cell{
    width: 75px;
    height: 75px;
    border: 2px solid var(--cor-borda-cell);
    box-shadow: var(--cor-box-shadow);
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
}

#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}

#gameContainer{
    text-align: center;
}